In [1]:
import pandas as pd
from sklearn.ensemble import RandomForestRegressor, RandomForestClassifier
from IPython.display import display

from sklearn import metrics

C:\Users\Daniela\Anaconda3.5\lib\site-packages\sklearn\ensemble\weight_boosting.py:29: DeprecationWarning: numpy.core.umath_tests is an internal NumPy module and should not be imported. It will be removed in a future NumPy release.
  from numpy.core.umath_tests import inner1d

In [2]:
sub = pd.read_csv('tutorial_train_data1.csv', index_col='actor_account_id')

In [3]:
sub.head()

,Unnamed: 0,dt_cnt,con_cnt,log_cnt,char_cnt,exp_amt,exp_mastery_amt,exhaust_cnt,exhaust_pvp_cnt,die_cnt,...,quest_cnt_cv,party_join_cnt_cv,party_kick_cnt_cv,guild_join_cnt_cv,guild_withdraw_cnt_cv,teleport_cnt_cv,pve_cnt_cv,pvp_cnt_cv,arena_cnt_cv,churn_yn
actor_account_id,,,,,,,,,,,,,,,,,,,,,
003B1E06,1,19,176,37423,4,77029,4229266,171,37,114,...,0.143501,0.315658,0,0.000000,0.0,0.710354,0.239317,1.074393,2.236068,0
003D42CD,2,26,102,33900,7,1797006,11180677,141,48,84,...,0.741191,1.265333,0,2.236068,0.0,0.869500,0.613837,2.081944,2.236068,0
006093EB,3,34,237,49063,1,0,12847058,177,30,109,...,0.281266,0.271776,0,0.000000,0.0,0.496655,0.358155,0.928341,0.000000,0
0067CFF2,4,10,28,4608,3,0,1801082,31,5,27,...,0.000000,0.000000,0,0.000000,0.0,0.000000,2.236068,0.000000,0.000000,1
00731F6C,5,5,21,4881,1,0,2862484,21,6,11,...,1.598611,1.629801,0,0.000000,0.0,1.564922,1.871842,0.000000,0.000000,0

In [4]:
customer1= pd.read_csv("00C172F0.csv")

In [50]:
sub = pd.read_csv('tutorial_train_data1.csv', index_col='actor_account_id')
train = pd.DataFrame( index=sub.index)
for actor_account_id in train.index:
    seg = pd.read_csv('traindata/' + actor_account_id + '.csv')
    
    log = seg['logid'].values
    time = seg['time'].values
    
    train.loc[actor_account_id, 'log_cnt'] = len(log)
    train.loc[actor_account_id, 'con_cnt']= seg.loc[seg['logid']== 1003, 'actor_account_id'].count()
    train.loc[actor_account_id, 'exp_amt'] = seg.loc[seg['logid']== 1016, 'use_value1_num'].sum()
    train.loc[actor_account_id, 'exp_mastery_amt'] = seg.loc[seg['logid']== 1016, 'use_value3_num'].sum()
    train.loc[actor_account_id, 'exhaust_cnt'] = seg.loc[seg['logid']== 1201, 'actor_account_id'].count()
    train.loc[actor_account_id, 'die_cnt'] = seg.loc[seg['logid']== 1202, 'actor_account_id'].count()
    train.loc[actor_account_id, 'quest_cnt'] = seg.loc[seg['logid']== 5004, 'actor_account_id'].count()
    train.loc[actor_account_id, 'party_join_cnt'] = seg.loc[seg['logid']== 1102, 'actor_account_id'].count()
    train.loc[actor_account_id, 'party_kick_cnt'] = seg.loc[seg['logid']== 1106, 'actor_account_id'].count()
    train.loc[actor_account_id, 'guild_join_cnt'] = seg.loc[seg['logid']== 6005, 'actor_account_id'].count()
    train.loc[actor_account_id, 'guild_withdraw_cnt'] = seg.loc[seg['logid']== 6009, 'actor_account_id'].count()
    train.loc[actor_account_id, 'teleport_cnt'] =seg.loc[seg['logid']== 1010, 'actor_account_id'].count()
    train.loc[actor_account_id, 'pve_cnt']= seg.loc[seg['logid']==  1208, 'actor_account_id'].count()
    train.loc[actor_account_id, 'pvp_cnt']= seg.loc[seg['logid']==  1209, 'actor_account_id'].count()
    train.loc[actor_account_id, 'ducel_end_cnt']= len(set(seg[(seg.logid ==1404) & (seg.logid ==1406)].count()))
    train.loc[actor_account_id, 'spent_money']= seg.loc[seg['logid']==  1010, 'use_value2_num'].sum()
    train.loc[actor_account_id, 'increased_money']= seg.loc[seg['logid']==  1017, 'use_value2_num'].sum()
    train.loc[actor_account_id, 'decreased_money']= seg.loc[seg['logid']==  1018, 'use_value2_num'].sum()
    train.loc[actor_account_id, 'increased_money2']= seg.loc[seg['logid']==  2006, 'use_value2_num'].sum()
    train.loc[actor_account_id, 'increased_money3']= seg.loc[seg['logid']==  2016, 'use_value2_num'].sum()
    train.loc[actor_account_id, 'decreased_money2']= seg.loc[seg['logid']==  2105, 'use_value2_num'].sum()
    #train.loc[actor_account_id, 'total_increase_money']= train['increased_money']+ train['increased_money2']+ train['increased_money3']
    #train.loc[actor_account_id, 'total_decrease_money']= train['decreased_money']+train['decreased_money2']
    train.loc[actor_account_id, 'increased_experience']= seg.loc[seg['logid']==  1016, 'use_value1_num'].sum()
    train.loc[actor_account_id, 'total_experience']= seg.loc[seg['logid']==  1016, 'new_value2_num'].sum()
    train.loc[actor_account_id, 'in_item']= seg.loc[seg['logid']==  1022, 'use_value1_num'].count()   
    train.loc[actor_account_id, 'decreased_item']= seg.loc[seg['logid']==  1023, 'use_value1_num'].count()
    train.loc[actor_account_id, 'increased_item1']= seg.loc[seg['logid']==  1022, 'new_value2_num'].sum()
    train.loc[actor_account_id, 'decreased_item1']= seg.loc[seg['logid']==  1023, 'new_value2_num'].sum()
    train.loc[actor_account_id, 'del_cnt']= seg.loc[seg['logid']== 1012, 'actor_account_id'].count()
    train.loc[actor_account_id, 'guild_create_cnt']= seg.loc[seg['logid']== 6001, 'actor_account_id'].count() 
    #train[actor_account_id, 'guild_destroy_cnt']= seg.loc[seg['logid']== 6002, 'actor_account_id'].count()    
    train.loc[actor_account_id, 'min_time'] =time.min()
    train.loc[actor_account_id, 'max_time'] = time.max()
   
    #train.loc[actor_account_id, 'sum'] = x.sum()
    #train.loc[actor_account_id, 'range'] = x.max()-x.min()

FileNotFoundError: File b'traindata/003B1E06.csv' does not exist

In [7]:
train.head()

,log_cnt,con_cnt,exp_amt,exp_mastery_amt,exhaust_cnt,die_cnt,quest_cnt,party_join_cnt,party_kick_cnt,guild_join_cnt,...,increased_experience,total_experience,in_item,decreased_item,increased_item1,decreased_item1,del_cnt,guild_create_cnt,min_time,max_time
actor_account_id,,,,,,,,,,,,,,,,,,,,,
003B1E06,37423.0,176.0,77029.0,4229266.0,171.0,114.0,754.0,148.0,0.0,0.0,...,77029.0,6.408195e+09,4729.0,2516.0,816621.0,225331.0,3.0,0.0,2016-04-01 18:44:53.524,2016-05-08 10:49:15.998
003D42CD,33900.0,102.0,1797006.0,11180677.0,141.0,84.0,822.0,104.0,0.0,1.0,...,1797006.0,3.432078e+09,3390.0,2469.0,261674.0,329964.0,3.0,0.0,2016-04-04 14:13:54.266,2016-05-11 03:34:49.201
006093EB,49063.0,237.0,0.0,12847058.0,177.0,109.0,831.0,273.0,0.0,0.0,...,0.0,1.147595e+10,6395.0,3467.0,1053594.0,368977.0,0.0,0.0,2016-04-01 11:09:13.026,2016-05-10 15:35:21.701
0067CFF2,4608.0,28.0,0.0,1801082.0,31.0,27.0,49.0,12.0,0.0,0.0,...,0.0,6.347596e+08,665.0,474.0,124022.0,81095.0,0.0,0.0,2016-04-01 00:00:39.522,2016-05-11 01:03:42.471
00731F6C,4881.0,21.0,0.0,2862484.0,21.0,11.0,90.0,12.0,0.0,0.0,...,0.0,9.571554e+08,461.0,257.0,57062.0,13773.0,0.0,0.0,2016-04-29 16:54:39.814,2016-05-08 20:16:30.029

In [9]:
train.to_csv('train.csv', index = True)

In [2]:
train= pd.read_csv("train.csv")

In [3]:
import datetime

In [4]:
train=pd.read_csv("train.csv", parse_dates=['min_time', 'max_time'], infer_datetime_format = True)
train.head()

,actor_account_id,log_cnt,con_cnt,exp_amt,exp_mastery_amt,exhaust_cnt,die_cnt,quest_cnt,party_join_cnt,party_kick_cnt,...,increased_experience,total_experience,in_item,decreased_item,increased_item1,decreased_item1,del_cnt,guild_create_cnt,min_time,max_time
0,003B1E06,37423.0,176.0,77029.0,4229266.0,171.0,114.0,754.0,148.0,0.0,...,77029.0,6.408195e+09,4729.0,2516.0,816621.0,225331.0,3.0,0.0,2016-04-01 18:44:53.524,2016-05-08 10:49:15.998
1,003D42CD,33900.0,102.0,1797006.0,11180677.0,141.0,84.0,822.0,104.0,0.0,...,1797006.0,3.432078e+09,3390.0,2469.0,261674.0,329964.0,3.0,0.0,2016-04-04 14:13:54.266,2016-05-11 03:34:49.201
2,006093EB,49063.0,237.0,0.0,12847058.0,177.0,109.0,831.0,273.0,0.0,...,0.0,1.147595e+10,6395.0,3467.0,1053594.0,368977.0,0.0,0.0,2016-04-01 11:09:13.026,2016-05-10 15:35:21.701
3,0067CFF2,4608.0,28.0,0.0,1801082.0,31.0,27.0,49.0,12.0,0.0,...,0.0,6.347596e+08,665.0,474.0,124022.0,81095.0,0.0,0.0,2016-04-01 00:00:39.522,2016-05-11 01:03:42.471
4,00731F6C,4881.0,21.0,0.0,2862484.0,21.0,11.0,90.0,12.0,0.0,...,0.0,9.571554e+08,461.0,257.0,57062.0,13773.0,0.0,0.0,2016-04-29 16:54:39.814,2016-05-08 20:16:30.029

In [5]:
#train['min_time'] =train['min_time'].dt.strftime('%d-%m-%Y')

In [6]:
train['min_time'] = train['min_time'].astype('datetime64[ns]')

In [7]:
#train['max_time'] =train['max_time'].dt.strftime('%d-%m-%Y')

In [8]:
train['max_time'] = train['max_time'].astype('datetime64[ns]')

In [9]:
train.insert(32, "cutof", "05-11-2016")

In [10]:
train['cutof'] = train['cutof'].astype('datetime64[ns]')

In [11]:
#train['cutof'] = pd.to_datetime(train['cutof'])

In [12]:
#train['cutof'] =train['cutof'].dt.strftime('%d-%m-%Y')

In [46]:
train

,actor_account_id,log_cnt,con_cnt,exp_amt,exp_mastery_amt,exhaust_cnt,die_cnt,quest_cnt,party_join_cnt,party_kick_cnt,...,in_item,decreased_item,increased_item1,decreased_item1,del_cnt,guild_create_cnt,min_time,max_time,cutof,difference_days
0,003B1E06,37423.0,176.0,77029.0,4229266.0,171.0,114.0,754.0,148.0,0.0,...,4729.0,2516.0,816621.0,225331.0,3.0,0.0,2016-04-01 18:44:53.524,2016-05-08 10:49:15.998,2016-05-11,2
1,003D42CD,33900.0,102.0,1797006.0,11180677.0,141.0,84.0,822.0,104.0,0.0,...,3390.0,2469.0,261674.0,329964.0,3.0,0.0,2016-04-04 14:13:54.266,2016-05-11 03:34:49.201,2016-05-11,-1
2,006093EB,49063.0,237.0,0.0,12847058.0,177.0,109.0,831.0,273.0,0.0,...,6395.0,3467.0,1053594.0,368977.0,0.0,0.0,2016-04-01 11:09:13.026,2016-05-10 15:35:21.701,2016-05-11,0
3,0067CFF2,4608.0,28.0,0.0,1801082.0,31.0,27.0,49.0,12.0,0.0,...,665.0,474.0,124022.0,81095.0,0.0,0.0,2016-04-01 00:00:39.522,2016-05-11 01:03:42.471,2016-05-11,-1
4,00731F6C,4881.0,21.0,0.0,2862484.0,21.0,11.0,90.0,12.0,0.0,...,461.0,257.0,57062.0,13773.0,0.0,0.0,2016-04-29 16:54:39.814,2016-05-08 20:16:30.029,2016-05-11,2
5,007C7AEA,27108.0,102.0,0.0,12753871.0,117.0,161.0,413.0,86.0,0.0,...,3002.0,2159.0,750254.0,323679.0,5.0,0.0,2016-04-01 11:11:50.902,2016-05-09 00:15:35.437,2016-05-11,1
6,007DA514,1352.0,25.0,0.0,1357870.0,1.0,0.0,13.0,0.0,0.0,...,173.0,116.0,9790.0,8214.0,0.0,0.0,2016-04-19 16:11:27.116,2016-05-10 15:15:46.290,2016-05-11,0
7,008285F2,35585.0,231.0,0.0,9403590.0,82.0,168.0,514.0,246.0,0.0,...,5609.0,3430.0,850234.0,357570.0,0.0,0.0,2016-04-01 20:00:12.723,2016-05-10 21:58:23.297,2016-05-11,0
8,0086503D,49528.0,233.0,3559620.0,15713943.0,218.0,134.0,884.0,130.0,0.0,...,4409.0,3428.0,191213.0,162804.0,6.0,0.0,2016-04-10 20:26:02.560,2016-05-08 23:13:26.009,2016-05-11,2
9,008999EA,71629.0,650.0,1386097.0,27710104.0,86.0,221.0,1250.0,235.0,0.0,...,12033.0,8045.0,1996793.0,606820.0,0.0,0.0,2016-04-05 15:57:22.419,2016-05-11 01:39:56.557,2016-05-11,-1
10,008E8AF0,378.0,2.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,...,51.0,30.0,3223.0,69.0,0.0,0.0,2016-05-07 20:34:39.402,2016-05-10 05:00:45.458,2016-05-11,0
11,00CBE7F7,115754.0,738.0,0.0,19581208.0,216.0,347.0,1568.0,546.0,0.0,...,9794.0,5350.0,2035777.0,571856.0,0.0,0.0,2016-04-01 00:00:04.721,2016-05-09 23:29:11.634,2016-05-11,1
12,00D81497,25.0,2.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,...,1.0,0.0,1.0,0.0,0.0,0.0,2016-05-10 21:13:26.299,2016-05-10 21:27:58.725,2016-05-11,0
13,00D81DCB,54253.0,403.0,885613.0,33287290.0,160.0,220.0,907.0,239.0,0.0,...,5340.0,3647.0,933431.0,647229.0,0.0,0.0,2016-04-01 00:00:08.434,2016-05-11 00:23:28.928,2016-05-11,-1
14,00DDAEEA,43657.0,529.0,0.0,19634234.0,134.0,264.0,804.0,264.0,0.0,...,7135.0,4566.0,999971.0,211522.0,0.0,0.0,2016-04-01 13:15:15.416,2016-05-10 20:37:32.295,2016-05-11,0
15,00E1A8EB,49003.0,176.0,12780.0,11674065.0,171.0,75.0,597.0,77.0,0.0,...,6865.0,3546.0,1355031.0,441091.0,0.0,0.0,2016-04-01 00:01:28.705,2016-05-08 00:44:02.536,2016-05-11,2
16,00EE61F2,59561.0,414.0,844666.0,8284138.0,406.0,501.0,824.0,221.0,0.0,...,5461.0,4336.0,514875.0,289875.0,3.0,0.0,2016-04-02 21:31:58.377,2016-05-10 21:25:15.141,2016-05-11,0
17,00F7F5CF,67377.0,254.0,0.0,11569346.0,182.0,173.0,1180.0,225.0,0.0,...,6056.0,3890.0,1465199.0,1033761.0,0.0,0.0,2016-04-01 12:13:09.839,2016-05-10 19:56:58.489,2016-05-11,0
18,00FB45EC,3305.0,53.0,15106.0,1476677.0,11.0,8.0,54.0,11.0,0.0,...,751.0,602.0,142719.0,72553.0,1.0,0.0,2016-04-07 23:47:38.354,2016-05-10 20:12:54.830,2016-05-11,0
19,010010EB,83971.0,502.0,0.0,15135824.0,457.0,394.0,872.0,391.0,0.0,...,6296.0,6369.0,1188717.0,1048832.0,0.0,0.0,2016-04-02 18:39:11.460,2016-05-07 23:25:50.436,2016-05-11,3
20,01032B49,20577.0,23.0,1028914.0,0.0,7.0,4.0,456.0,0.0,0.0,...,1161.0,551.0,32611.0,9510.0,0.0,0.0,2016-04-28 23:57:13.471,2016-05-10 17:06:56.128,2016-05-11,0
21,01180EEB,97038.0,342.0,1262.0,19126397.0,351.0,475.0,792.0,465.0,0.0,...,20037.0,9206.0,4906075.0,1204309.0,0.0,0.0,2016-04-01 00:01:35.945,2016-05-11 02:16:50.274,2016-05-11,-1
22,014267EC,3768.0,43.0,48.0,1645922.0,4.0,1.0,45.0,11.0,0.0,...,409.0,324.0,28779.0,21297.0,0.0,0.0,2016-04-11 19:23:39.725,2016-05-09 21:25:22.492,2016-05-11,1
23,015820FE,30575.0,107.0,0.0,7259382.0,138.0,89.0,543.0,123.0,0.0,...,3141.0,2439.0,291129.0,440465.0,0.0,0.0,2016-04-02 19:28:27.158,2016-05-10 00:35:08.387,2016-05-11,0
24,01679B62,39774.0,243.0,0.0,12305564.0,278.0,315.0,552.0,286.0,0.0,...,4818.0,3808.0,799652.0,236713.0,0.0,0.0,2016-04-01 23:26:17.726,2016-05-10 02:19:48.739,2016-05-11,0
25,01AAC5B1,48061.0,306.0,0.0,10202781.0,200.0,247.0,559.0,237.0,0.0,...,4867.0,3812.0,757306.0,500670.0,0.0,0.0,2016-04-01 23:11:07.654,2016-05-11 00:10:28.795,2016-05-11,-1
26,01C03A3E,186912.0,709.0,18930.0,61013012.0,207.0,363.0,1541.0,510.0,0.0,...,12143.0,8574.0,1858250.0,876327.0,0.0,0.0,2016-04-01 00:02:54.533,2016-05-10 22:12:07.985,2016-05-11,0
27,01C45DEC,5615.0,20.0,0.0,2906410.0,11.0,7.0,88.0,5.0,0.0,...,420.0,277.0,168373.0,74204.0,0.0,0.0,2016-04-30 15:23:07.240,2016-05-10 16:43:54.293,2016-05-11,0
28,020F663F,13380.0,41.0,731550.0,0.0,6.0,1.0,289.0,18.0,0.0,...,715.0,395.0,18536.0,3500.0,0.0,0.0,2016-04-27 16:05:57.611,2016-05-11 04:37:52.833,2016-05-11,-1
29,021014FD,19182.0,35.0,1789952.0,1508037.0,82.0,45.0,368.0,32.0,0.0,...,1866.0,1246.0,70160.0,95266.0,2.0,0.0,2016-04-20 21:56:37.208,2016-05-11 01:11:32.815,2016-05-11,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37,02A0AA0B,64752.0,185.0,4127760.0,16974529.0,634.0,353.0,1178.0,117.0,0.0,...,5757.0,5108.0,196567.0,266637.0,3.0,0.0,2016-04-02 12:34:09.402,2016-05-10 23:16:57.368,2016-05-11,0
38,02A4ABE4,41196.0,337.0,50176.0,9204949.0,338.0,318.0,561.0,217.0,0.0,...,4021.0,3227.0,373768.0,439385.0,1.0,0.0,2016-04-01 13:40:22.333,2016-05-10 02:09:35.173,2016-05-11,0
39,02EBA555,23315.0,233.0,0.0,6747828.0,160.0,183.0,294.0,150.0,0.0,...,2510.0,1778.0,553812.0,342594.0,0.0,0.0,2016-04-03 19:41:48.674,2016-05-09 22:36:05.109,2016-05-11,1
40,02FAB1EF,42877.0,287.0,0.0,12048577.0,223.0,146.0,671.0,178.0,0.0,...,5867.0,3539.0,955776.0,423618.0,0.0,0.0,2016-04-01 20:41:58.059,2016-05-10 23:00:27.883,2016-05-11,0
41,030114EC,62414.0,217.0,0.0,21456874.0,133.0,228.0,869.0,116.0,0.0,...,6782.0,4530.0,1653309.0,689003.0,12.0,0.0,2016-04-01 00:05:54.068,2016-05-11 01:25:37.964,2016-05-11,-1
42,0302FEDF,18537.0,133.0,0.0,4562543.0,74.0,165.0,302.0,207.0,0.0,...,2347.0,1533.0,314093.0,217494.0,0.0,0.0,2016-04-02 18:29:42.865,2016-05-10 23:31:55.170,2016-05-11,0
43,0304437A,188182.0,927.0,0.0,27671527.0,273.0,432.0,2780.0,833.0,0.0,...,21448.0,13160.0,3260101.0,1046873.0,0.0,0.0,2016-04-01 00:08:04.925,2016-05-10 18:36:58.694,2016-05-11,0
44,03137CFD,28743.0,130.0,1747655.0,9925221.0,15.0,36.0,642.0,13.0,0.0,...,2835.0,1626.0,250590.0,64401.0,2.0,0.0,2016-04-01 11:34:52.505,2016-05-09 15:38:34.132,2016-05-11,1
45,031E8DEE,104466.0,938.0,1807929.0,44047151.0,182.0,130.0,1558.0,434.0,0.0,...,11549.0,6888.0,1220471.0,598258.0,0.0,0.0,2016-04-01 00:13:18.358,2016-05-11 04:40:14.328,2016-05-11,-1
46,032FCAF6,1506.0,26.0,0.0,230208.0,35.0,33.0,15.0,9.0,0.0,...,55.0,128.0,5599.0,35894.0,0.0,0.0,2016-04-04 00:20:28.845,2016-05-06 23:00:57.960,2016-05-11,4
47,03378B3A,196537.0,227.0,0.0,32687905.0,456.0,468.0,1989.0,578.0,0.0,...,27139.0,16931.0,6206002.0,1629569.0,0.0,0.0,2016-04-01 00:01:59.112,2016-05-11 02:27:24.876,2016-05-11,-1
48,0341F57F,3515.0,14.0,18105.0,540780.0,10.0,7.0,62.0,2.0,0.0,...,213.0,174.0,16989.0,10227.0,0.0,0.0,2016-04-24 17:37:56.945,2016-05-09 09:14:03.511,2016-05-11,1
49,034C24EB,101204.0,255.0,3545808.0,22701344.0,389.0,246.0,2143.0,282.0,0.0,...,10728.0,6555.0,922751.0,423478.0,0.0,0.0,2016-04-14 21:20:06.531,2016-05-11 03:14:10.701,2016-05-11,-1
50,036DB130,79951.0,364.0,1727534.0,18630864.0,234.0,256.0,1277.0,255.0,0.0,...,5685.0,5621.0,850206.0,1312258.0,1.0,0.0,2016-04-01 13:21:51.241,2016-05-10 13:05:10.120,2016-05-11,0
51,037E261F,12766.0,50.0,1208907.0,841486.0,19.0,19.0,293.0,32.0,0.0,...,1240.0,812.0,109629.0,29367.0,0.0,0.0,2016-04-08 23:12:51.766,2016-05-07 19:18:58.680,2016-05-11,3
52,039C51EE,17621.0,170.0,0.0,4140842.0,219.0,90.0,250.0,113.0,0.0,...,2089.0,1367.0,467399.0,280151.0,0.0,0.0,2016-04-01 01:11:31.571,2016-05-08 14:02:31.832,2016-05-11,2
53,039DFB34,144.0,6.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,28.0,29.0,371.0,100.0,0.0,0.0,2016-05-01 16:01:21.728,2016-05-09 22:22:06.129,2016-05-11,1
54,03AA8038,42162.0,128.0,1760290.0,5946005.0,69.0,44.0,862.0,59.0,0.0,...,4833.0,3016.0,309608.0,128039.0,0.0,0.0,2016-04-01 11:36:55.966,2016-05-08 01:13:33.759,2016-05-11,2
55,03BFF4ED,26423.0,49.0,1746011.0,10421476.0,33.0,13.0,425.0,18.0,0.0,...,3114.0,2189.0,253101.0,316883.0,1.0,0.0,2016-04-18 02:36:23.205,2016-05-11 05:00:31.512,2016-05-11,-1
56,03FDD6EE,101816.0,578.0,198437.0,27884399.0,242.0,551.0,1513.0,525.0,0.0,...,10853.0,8078.0,1822194.0,1128151.0,0.0,0.0,2016-04-01 00:33:34.703,2016-05-11 02:42:13.780,2016-05-11,-1
57,040390F5,246511.0,308.0,0.0,40955608.0,261.0,478.0,402.0,205.0,0.0,...,4037.0,3735.0,669704.0,732125.0,0.0,0.0,2016-04-01 08:22:30.622,2016-05-11 05:00:31.193,2016-05-11,-1
58,042548EE,25185.0,176.0,0.0,6858655.0,81.0,203.0,257.0,166.0,0.0,...,3740.0,2560.0,487425.0,325440.0,0.0,0.0,2016-04-01 20:20:35.794,2016-05-08 23:20:19.238,2016-05-11,2
59,042B33F5,4161.0,56.0,0.0,1880962.0,6.0,19.0,58.0,19.0,0.0,...,652.0,427.0,98929.0,27091.0,0.0,0.0,2016-04-01 23:37:38.285,2016-05-07 15:03:12.201,2016-05-11,3
60,0448D42F,106757.0,424.0,0.0,28616574.0,1049.0,854.0,1233.0,461.0,0.0,...,15517.0,12728.0,2930303.0,2116589.0,0.0,0.0,2016-04-01 00:01:32.537,2016-05-10 23:12:42.533,2016-05-11,0
61,04694C14,6135.0,31.0,557971.0,1170413.0,9.0,12.0,82.0,0.0,0.0,...,526.0,425.0,63585.0,22492.0,0.0,0.0,2016-04-23 11:33:04.500,2016-05-08 19:21:14.187,2016-05-11,2
62,046C4409,928.0,6.0,0.0,66065.0,2.0,0.0,7.0,0.0,0.0,...,82.0,39.0,3826.0,745.0,0.0,0.0,2016-04-23 14:11:41.135,2016-05-08 03:37:44.204,2016-05-11,2
63,048236F6,14081.0,82.0,139897.0,6927885.0,69.0,29.0,224.0,52.0,0.0,...,1820.0,1178.0,307044.0,217435.0,1.0,0.0,2016-04-05 19:09:57.093,2016-05-10 20:10:58.345,2016-05-11,0
64,04B7E0EC,31206.0,162.0,0.0,8814610.0,356.0,216.0,293.0,125.0,0.0,...,2454.0,2528.0,430727.0,521933.0,0.0,0.0,2016-04-01 00:43:25.072,2016-05-09 04:07:08.223,2016-05-11,1
65,04BBB9F4,141881.0,477.0,0.0,35614379.0,367.0,315.0,1143.0,321.0,0.0,...,10085.0,6243.0,1943263.0,936602.0,0.0,0.0,2016-04-01 08:57:19.916,2016-05-09 23:05:26.322,2016-05-11,1
66,04FF70F5,55681.0,369.0,1798063.0,21968538.0,179.0,224.0,951.0,228.0,0.0,...,5641.0,3747.0,562895.0,336824.0,1.0,0.0,2016-04-01 22:42:02.436,2016-05-11 00:07:32.358,2016-05-11,-1

In [14]:
#train['difference_days'] = train['cutof']- train['max_time']

In [15]:
train['difference_days'] = (train['cutof']- train['max_time']).dt.days

train.head()

In [40]:
def label_customer(customer_id,logins, prediction_date, churn_days,   return_trans = False):
    """
    Make label times for a single customer. Returns a dataframe of labels with times, the binary label, 
    and the number of days until the next churn.
       
    Params
    --------
        customer_id (str): unique id for the customer
        customer_logs (dataframe): logs dataframe for the customer
        prediction_date (str): time at which predictions are made. Either "MS" for the first of the month
                               or "SMS" for the first and fifteenth of each month 
        churn_days (int): integer number of days without an active membership required for a churn. A churn is
                          defined by exceeding this number of 5 weeks  without being an active player.
        lead_time (int): number of periods in advance to make predictions for. 3 weeks
        prediction_window(int): number of periods over which to consider churn. 5 weeks
        return_trans (boolean): whether or not to return the transactions for analysis. Defaults to False.
        
    Return
    --------
        label_times (dataframe): a table of customer id, the cutoff times at the specified frequency, the 
                                 label for each cutoff time, the number of days until the next churn for each
                                 cutoff time, and the date on which the churn itself occurred.
        transactions (dataframe): [optional] dataframe of customer transactions if return_trans = True. Useful
                                  for making sure that the function performed as expected
    
       """
    
    assert(prediction_date in ['MS', 'SMS']), "Prediction day must be either 'MS' or 'SMS'"
    assert(logins['actor_account_id'].unique() == [customer_id]), "Transactions must be for only customer"
    
    # Don't modify original
    logs = logins.copy()
    
    #Range for cutoff times is from first to last  log
    first_log = logs['min_time']
    last_log = logs['max_time']
    start_date = first_log
   # pd.datetime(first_log.month, first_log.day)
   
    # Find number of days between last log and cutoff
    
    logs['difference_days'] = logs['cutof']- logs['max_time']
    # Determine which actor are associated with a churn
    logs['churn'] = logs['difference_days'].astype('timedelta64[D]') > churn_days
    logs['last_day_active']=last_log
    
    # Find date of each churn
    logs.loc[logs['churn'] == True, 
                     'churn_date'] = logs.loc[logs['churn'] == True, 
                                                      'last_day_active'] + pd.Timedelta(churn_days, 'd')
    
    #time labels
    label_times=pd.DataFrame({'actor_account_id':[customer_id]})
    label_times.insert(1, "cutoff_time", "05-11-2016")
    label_times['cutoff_time'] = label_times['cutoff_time'].astype('datetime64[ns]')


    lead_time=21
    prediction_window=35
    # Use the lead time and prediction window parameters to establish the prediction window 
    # Prediction window is for each cutoff time
    label_times['prediction_window_start'] = label_times['cutoff_time'] + pd.Timedelta(lead_time, 'd')
    label_times['prediction_window_end'] = label_times['cutoff_time'] + pd.Timedelta(lead_time, 'd') + pd.Timedelta(prediction_window, 'd')
    
    previous_churn_date = None
    
    #when no churn
    if (logs['churn']==False).all():
        label_times['label']=0
        label_times['days_to_churn']=np.nan
        label_times['churn_date']=np.nan
        if return_trans:
            return label_times[['actor_account_id', 'cutoff_time', 'label', 'days_to_churn', 'churn_date']], logs
        return label_times[['actor_account_id', 'cutoff_time', 'label', 'days_to_churn', 'churn_date']]

    # Iterate through every cutoff time
    for i, row in label_times.iterrows():
        
        # Default values if unknown
        churn_date = pd.NaT
        label = np.nan
        # Find the window start and end
        window_start = row['prediction_window_start']
        window_end = row['prediction_window_end']
        # Determine if there were any churns during the prediction window
        churns = logs.loc[(logs['churn_date'] >= window_start) & 
                                  (logs['churn_date'] < window_end), 'churn_date']

        # Positive label if there was a churn during window
        if not churns.empty:
            label = 1
            churn_date = churns.values[0]

            # Find number of days until next churn by 
            # subsetting to cutoff times before current churn and after previous churns
            if not previous_churn_date:
                before_idx = label_times.loc[(label_times['cutoff_time'] <= churn_date)].index
            else:
                before_idx = label_times.loc[(label_times['cutoff_time'] <= churn_date) & 
                                             (label_times['cutoff_time'] > previous_churn_date)].index

            # Calculate days to next churn for cutoff times before current churn
            label_times.loc[before_idx, 'days_to_churn'] = (churn_date - label_times.loc[before_idx, 
                                                                                         'cutoff_time']).\
                                                            dt.total_seconds() / (3600 * 24)
            previous_churn_date = churn_date
        # No churns, but need to determine if an active member
        else:
            # Find transactions before the end of the window that were not cancelled ### here the carracter deleted
            logs_before = logs.loc[(logs['time'] < window_end)].copy()
            # If the membership expiration date for this membership is after the window start, the custom has not churned
            if np.any(logs_before['time'] >= window_start):
                label = 0

        # Assign values
        label_times.loc[i, 'label'] = label
        label_times.loc[i, 'churn_date'] = churn_date
        
        # Handle case with no churns
        if not np.any(label_times['label'] == 1):
            label_times['days_to_churn'] = np.nan
            label_times['churn_date'] = pd.NaT
        
    if return_trans:
        return label_times.drop(columns = ['actor_account_id']), logs
    
    return label_times[['actor_account_id', 'cutoff_time', 'label', 'days_to_churn', 'churn_date']].copy()

In [41]:
#customer_id = train.iloc[0, 0]
customer_logs = train.loc[train['actor_account_id'] == customer_id].copy()


label_times = label_customer(customer_id, customer_logs, 'MS', 35,   False)
label_times

  actor_account_id cutoff_time  label  days_to_churn  churn_date
0         003B1E06  2016-05-11      0            NaN         NaN

In [42]:
def make_label_times(logs, prediction_date, churn_days):
    """
    Make labels for an entire series of transactions. 
    
    Params
    --------
        transactions (dataframe): table of customer transactions
        prediction_date (str): time at which predictions are made. Either "MS" for the first of the month
                               or "SMS" for the first and fifteenth of each month 
        churn_days (int): integer number of days without an active membership required for a churn. A churn is
                          defined by exceeding this number of days without an active membership.
        lead_time (int): number of periods in advance to make predictions for. Defaults to 1 (preditions for one offset)
        prediction_window(int): number of periods over which to consider churn. Defaults to 1.
    Return
    --------
        label_times (dataframe): a table with customer ids, cutoff times, binary label, regression label, 
                                 and date of churn. This table can then be used for feature engineering.
    """
    
    label_times = []
    logs = logs.sort_values(['actor_account_id'])
    
    # Iterate through each customer and find labels
    for customer_id, logins in logs.groupby('actor_account_id'):
        lt_cust = label_customer(customer_id, logins, prediction_date, churn_days, 
                                                   )
        
        label_times.append(lt_cust)
        
    # Concatenate into a single dataframe
    return pd.concat(label_times)

In [43]:
label_times = make_label_times(train, prediction_date = 'MS', churn_days =35 )

In [44]:
label_times

   actor_account_id cutoff_time  label  days_to_churn  churn_date
0          003B1E06  2016-05-11      0            NaN         NaN
0          003D42CD  2016-05-11      0            NaN         NaN
0          006093EB  2016-05-11      0            NaN         NaN
0          0067CFF2  2016-05-11      0            NaN         NaN
0          00731F6C  2016-05-11      0            NaN         NaN
0          007C7AEA  2016-05-11      0            NaN         NaN
0          007DA514  2016-05-11      0            NaN         NaN
0          008285F2  2016-05-11      0            NaN         NaN
0          0086503D  2016-05-11      0            NaN         NaN
0          008999EA  2016-05-11      0            NaN         NaN
0          008E8AF0  2016-05-11      0            NaN         NaN
0          00CBE7F7  2016-05-11      0            NaN         NaN
0          00D81497  2016-05-11      0            NaN         NaN
0          00D81DCB  2016-05-11      0            NaN         NaN
0          00DDAEEA  2016-05-11      0            NaN         NaN
0          00E1A8EB  2016-05-11      0            NaN         NaN
0          00EE61F2  2016-05-11      0            NaN         NaN
0          00F7F5CF  2016-05-11      0            NaN         NaN
0          00FB45EC  2016-05-11      0            NaN         NaN
0          010010EB  2016-05-11      0            NaN         NaN
0          01032B49  2016-05-11      0            NaN         NaN
0          01180EEB  2016-05-11      0            NaN         NaN
0          014267EC  2016-05-11      0            NaN         NaN
0          015820FE  2016-05-11      0            NaN         NaN
0          01679B62  2016-05-11      0            NaN         NaN
0          01AAC5B1  2016-05-11      0            NaN         NaN
0          01C03A3E  2016-05-11      0            NaN         NaN
0          01C45DEC  2016-05-11      0            NaN         NaN
0          020F663F  2016-05-11      0            NaN         NaN
0          021014FD  2016-05-11      0            NaN         NaN
..              ...         ...    ...            ...         ...
0          02A0AA0B  2016-05-11      0            NaN         NaN
0          02A4ABE4  2016-05-11      0            NaN         NaN
0          02EBA555  2016-05-11      0            NaN         NaN
0          02FAB1EF  2016-05-11      0            NaN         NaN
0          030114EC  2016-05-11      0            NaN         NaN
0          0302FEDF  2016-05-11      0            NaN         NaN
0          0304437A  2016-05-11      0            NaN         NaN
0          03137CFD  2016-05-11      0            NaN         NaN
0          031E8DEE  2016-05-11      0            NaN         NaN
0          032FCAF6  2016-05-11      0            NaN         NaN
0          03378B3A  2016-05-11      0            NaN         NaN
0          0341F57F  2016-05-11      0            NaN         NaN
0          034C24EB  2016-05-11      0            NaN         NaN
0          036DB130  2016-05-11      0            NaN         NaN
0          037E261F  2016-05-11      0            NaN         NaN
0          039C51EE  2016-05-11      0            NaN         NaN
0          039DFB34  2016-05-11      0            NaN         NaN
0          03AA8038  2016-05-11      0            NaN         NaN
0          03BFF4ED  2016-05-11      0            NaN         NaN
0          03FDD6EE  2016-05-11      0            NaN         NaN
0          040390F5  2016-05-11      0            NaN         NaN
0          042548EE  2016-05-11      0            NaN         NaN
0          042B33F5  2016-05-11      0            NaN         NaN
0          0448D42F  2016-05-11      0            NaN         NaN
0          04694C14  2016-05-11      0            NaN         NaN
0          046C4409  2016-05-11      0            NaN         NaN
0          048236F6  2016-05-11      0            NaN         NaN
0          04B7E0EC  2016-05-11      0            NaN         NaN
0          04BBB9F4  2016-05-11      0            NaN         NaN
0          04FF70F5  2016-05-11      0            NaN         NaN

[67 rows x 5 columns]

In [45]:
label_times['label'].value_counts()

0    67
Name: label, dtype: int64

In [47]:
customer1= pd.read_csv("00C172F0.csv")
customer1.head()

,seq,time,logid,session,link_id,log_detail_code,actor_code,actor_id,actor_account_id,actor_object_id,...,target_guild,target_level,target_race,target_job,target_faction,target_data_option1_num,target_data_option2_num,target_total_option1_str,target_total_option2_str,pserverno
0,69462583,2016-04-20 23:14:57.310,1003,4295000751,0,1,10,19411560,00C172F0,281474976723981,...,0,0,0,0,0,0,0,NaN,NaN,3
1,69553202,2016-04-20 23:15:37.013,1005,4295000751,0,1,10,19411560,00C172F0,281474976723981,...,0,0,0,0,0,1,0,NaN,NaN,3
2,69658177,2016-04-20 23:16:26.497,1022,4295000751,0,0,10,19411560,00C172F0,281474976723981,...,0,0,0,0,0,0,0,NaN,NaN,3
3,69685085,2016-04-20 23:16:39.101,1022,4295000751,0,0,10,19411560,00C172F0,281474976723981,...,0,0,0,0,0,0,0,NaN,NaN,3
4,69686979,2016-04-20 23:16:39.897,1022,4295000751,0,0,10,19411560,00C172F0,281474976723981,...,0,0,0,0,0,0,0,NaN,NaN,3